.circle {
  height: 10rem;
  width: 10rem;
  background-color: cadetblue;
  border-radius: 5rem;
  border: none;
}

.backGround {
  background-color: brown;
}

.circle:hover {
  cursor: pointer;
}

.active {
  height: 10rem;
  width: 10rem;
  background-color: cadetblue;
  border-radius: 5rem;
  border: none;
}

@media only screen and (max-width: 600px) {
  .circle {
    height: 4rem;
    width: 4rem;
    border-radius: 3rem;
  }
}
